@use "theme-mixin";
@use "../src/theme/animations";
@use "../src/layout/header/demo-header-component";
@use "../src/layout/content/examples/load-media-form-component";
@use "../src/layout/content/examples/examples-page";
@use "../src/layout/content/search/search-page";
@use "../src/layout/content/lists/lists-page";
@use "../src/layout/content/showcase/showcase-page";
@use "../src/layout/content/settings/settings-page";
@import "open-props/open-props.min.css";
@import '@srgssr/pillarbox-web/dist/pillarbox.min.css';

@font-face {
  font-weight: 400;
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  src: url('/fonts/material-symbols-outlined.woff2') format('woff2');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  --color-1: var(--gray-1);
  --color-2: var(--gray-2);
  --color-3: var(--gray-3);
  --color-4: var(--gray-4);
  --color-5: var(--gray-5);
  --color-6: var(--gray-6);
  --color-7: var(--gray-7);
  --color-8: var(--gray-8);
  --color-9: var(--gray-9);
  --color-10: var(--gray-10);
  --color-11: var(--gray-11);
  --color-12: var(--gray-12);

  @media (prefers-color-scheme: light) {
    --color-1: var(--gray-12);
    --color-2: var(--gray-11);
    --color-3: var(--gray-10);
    --color-4: var(--gray-9);
    --color-5: var(--gray-8);
    --color-6: var(--gray-7);
    --color-7: var(--gray-6);
    --color-8: var(--gray-5);
    --color-9: var(--gray-4);
    --color-10: var(--gray-3);
    --color-11: var(--gray-2);
    --color-12: var(--gray-1);
  }
}

body {
  max-width: var(--size-md);
  margin: 0 auto;
  padding-inline: var(--size-6);
  padding-bottom: var(--size-4);
  color: var(--color-4);
  font-size: var(--size-5);
  font-family: var(--font-sans);
  background-color: var(--color-11);
}

h1, h2, h3, h4, h5, h6 {
  &.sticky {
    position: sticky;
    top: 0;
    margin: 0;
    padding: var(--size-3) 0;
    background-color: var(--color-11);
  }
}

.material-symbols-outlined {
  display: inline-block;
  font-weight: normal;
  font-size: 24px;
  font-family: 'Material Symbols Outlined', serif;
  font-style: normal;
  line-height: 1;
  direction: ltr;
  letter-spacing: normal;
  white-space: nowrap;
  text-transform: none;
  overflow-wrap: normal;
  font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

route-outlet {
  @include theme-mixin.base-theme-mixin;

  dialog::backdrop {
    background: rgb(0 0 0 / 50%);
  }

  content-link {
    &:first-of-type::part(a) {
      border-radius: var(--radius-3) var(--radius-3) 0 0;
    }

    &:last-of-type::part(a) {
      border-radius: 0 0 var(--radius-3) var(--radius-3);
    }

    &:only-of-type::part(a) {
      border-radius: var(--radius-3) var(--radius-3) var(--radius-3) var(--radius-3);
    }
  }

  scroll-to-top-button > i.material-symbols-outlined {
    font-size: var(--size-8);
  }
}
