@use 'static-showcase';


.pillarbox-countdown .vjs-modal-dialog-content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
