.vjs-control.vjs-button.pbw-skip-btn {
  position: absolute;
  right: var(--size-5);
  bottom: var(--size-9);
  height: var(--size-6);
  color: white;
  background-color: rgb(0 0 0 / 70%);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-3);
  cursor: pointer;
  backdrop-filter: blur(5px);
}
