@import '../../scss/index';

body {
  max-width: var(--size-md);
}

.showcase-content {
  padding: 0;
}

.video-container {
  width: 100%;
  height: auto;
  aspect-ratio: var(--ratio-widescreen);
  padding: 0;
}

h2 {
  padding-left: var(--size-2);
  font-size: var(--size-4);
}

.showcase-btn {
  width: 100%;
  margin: var(--size-3) 0;
  padding: var(--size-4) var(--size-3);
  color: var(--color-0);
  font-weight: var(--font-weight-6);
  font-size: var(--size-3);
  text-align: center;
  text-decoration: none;
  background-color: var(--color-9);
  border: 0;
  border-radius: var(--radius-2);
  cursor: pointer;
  transition: background-color 0.4s, border-color 0.4s;
}

.showcase-btn:hover {
  background-color: var(--color-8);
  border-color: var(--color-9);
}
