@use "../../../scss/theme-mixin";

demo-header {
  @include theme-mixin.base-theme-mixin;

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  route-link::part(a) {
    padding: var(--size-1) var(--size-2);
    font-size: var(--size-4);
    border-radius: var(--radius-3);
    transition: background-color 0.4s, color 0.4s;
  }

  route-link::part(a active) {
    color: var(--color-8);
    text-decoration: none;
    background-color: var(--color-5);
    cursor: default;
    transition: background-color 0.8s, color 0.4s;
  }

  core-demo-header {
    display: flex;
    align-items: center;

    route-link, a {
      margin-left: var(--size-2);
    }

    route-link::part(a), a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    a:hover {
      text-decoration: none;
    }

    .material-symbols-outlined {
      font-size: var(--size-7);
    }
  }

  nav ul {
    display: flex;
    margin-bottom: var(--size-4);
    margin-left: calc(-1 * var(--size-2));

    li {
      margin: 0;
    }
  }
}
