@import 'material-icons/iconfont/outlined.css';

a {
  color: var(--color-4);
  font-weight: var(--font-weight-6);
  font-size: var(--size-4);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  width: 100%;
  border-color: var(--color-6);
}

button {
  color: var(--color-0);
  font-weight: var(--font-weight-6);
  font-size: var(--size-3);
  text-align: center;
  text-decoration: none;
  background-color: var(--color-9);
  border: 1px solid var(--color-10);
  cursor: pointer;
  transition: background-color 0.4s, border-color 0.4s;

  &.icon-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--size-1) 0;
    padding: var(--size-4) var(--size-3);
    border-radius: var(--radius-2);

    span {
      margin-right: var(--size-2);
    }
  }

  &:hover {
    background-color: var(--color-8);
    border-color: var(--color-9);
  }

  &:disabled, &:hover:disabled {
    color: var(--color-9);
    background-color: var(--color-7);
    border-color: var(--color-7);
    cursor: not-allowed;
  }
}

h1 {
  font-size: var(--size-7);
}

h2 {
  font-size: var(--size-4);

  &.sticky {
    position: sticky;
    top: 0;
    margin: 0;
    padding: var(--size-3) 0;
    background-color: var(--color-11);
  }
}

h3 {
  font-size: var(--size-3);
}

input, select {
  margin: var(--size-1) 0 0 0;
  padding: var(--size-4) var(--size-3);
  color: var(--color-2);
  font-size: var(--size-3);
  background-color: var(--color-8);
  border: none;
  outline: none;
}

select {
  cursor: pointer;
  appearance: none;
}

select:required:invalid {
  color: var(--color-5);
}

input[type="text"]::placeholder {
  color: var(--color-5);
}


// Removes autofill styling
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px var(--color-8) inset !important;
  -webkit-text-fill-color: var(--color-2) !important;
}

dialog::backdrop {
  background: rgb(0 0 0 / 50%);
}

content-link {
  &:first-of-type::part(a) {
    border-radius: var(--radius-3) var(--radius-3) 0 0;
  }

  &:last-of-type::part(a) {
    border-radius: 0 0 var(--radius-3) var(--radius-3);
  }
}

.warning-text {
  color: var(--red-7);
}
