@import "open-props/open-props.min.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --brand-color: var(--red-11);
  --text-color-1: var(--gray-3);
  --text-color-2: var(--gray-4);
  --surface-color-1: var(--gray-8);
  --surface-color-2: var(--gray-7);
  --surface-color-3: var(--gray-6);
  --surface-color-4: var(--gray-5);

  overflow-y: scroll;
}

body {
  max-width: var(--size-md);
  min-height: 100%;
  margin: 0 auto;
  color: var(--text-color-1);
  font-size: var(--size-5);
  font-family: var(--font-sans);
  background-color: var(--surface-color-1);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: var(--font-weight-9);
  line-height: var(--font-lineheight-1);
}

h1 {
  margin: 0;
  text-align: center;
  text-shadow: 2px 3px 0 var(--gray-10);
}

@media screen and (width <= 768px) {
  h1 {
    font-size: var(--size-7);
  }
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: var(--size-5) 0;
  column-gap: var(--size-3);
}

.player-container {
  width: 100%;
  height: auto;
  aspect-ratio: var(--ratio-widescreen);
  padding: 0;
  box-shadow: var(--shadow-3);
}

.logo {
  height: var(--size-10);
}

.logo.ts {
  padding: var(--size-2);
}
