@import '@srgssr/pillarbox-web/dist/pillarbox.min.css';

html, body, * {
  margin: 0;
  padding: 0;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

body {
  background-color: #000;
}

#app {
  position: relative;
}
