@import 'highlight.js/styles/github-dark-dimmed.css' screen and (prefers-color-scheme: dark);
@import 'highlight.js/styles/github.css' screen and (prefers-color-scheme: light);

[part="container"] {
  overflow-x: auto;
  font-size: var(--font-size-0);
}

slot {
  display: none;
}
