a {
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  justify-content: center;
  min-height: var(--size-9);
  margin: 0;
  color: var(--color-0);
  font-weight: var(--font-weight-6);
  font-size: var(--size-3);
  text-align: center;
  text-decoration: none;
  background-color: var(--color-9);
  border: 1px solid var(--color-10);
  border-radius: var(--radius-2);
  transition: background-color 0.4s, border-color 0.4s;
  padding-inline: var(--size-3);

  &:hover {
    text-decoration: none;
    background-color: var(--color-8);
    border-color: var(--color-9);
  }
}

div {
  margin-top: var(--size-7);
}
