showcase-page {
  [part="anchor-title"] > *::before {
    margin-left: -1em;
    visibility: hidden;
    content: "# ";
  }

  [part="anchor-title"]:hover > *::before {
    visibility: visible;
  }

  [part="showcase-link"] {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--size-9);
    font-weight: var(--font-weight-6);
    font-size: var(--size-3);
    text-decoration: none;
    background-color: var(--color-9);
    border-radius: var(--radius-2);
    transition: background-color 0.4s;

    &:hover {
      text-decoration: none;
      background-color: var(--color-8);
    }
  }

  showcase-component {
    margin-top: var(--size-7);

    a {
      font-size: inherit;
    }
  }

  showcase-component:last-child {
    margin-bottom: var(--size-7);
  }
}
